@import "tailwindcss";

:root {
            --bg-dark: #050505;
            --accent-cyan: #00f2ff;
            --accent-green: #00ff9d;
            --accent-purple: #bc13fe;
        }
        body {
            font-family: 'Inter', sans-serif;
            background-color: var(--bg-dark);
            color: #e2e8f0;
            overflow-x: hidden;
        }
        .font-mono {
            font-family: 'JetBrains Mono', monospace;
        }
        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-track {
            background: #0a0a0a;
        }
        ::-webkit-scrollbar-thumb {
            background: #22d3ee;
            border-radius: 10px;
        }
        .neon-glow-cyan {
            text-shadow: 0 0 10px rgba(0, 242, 255, 0.5);
        }
        .border-glow-cyan {
            box-shadow: 0 0 15px rgba(0, 242, 255, 0.15);
        }
        .grid-bg {
            background-image: linear-gradient(rgba(0, 242, 255, 0.05) 1px, transparent 1px),
                              linear-gradient(90deg, rgba(0, 242, 255, 0.05) 1px, transparent 1px);
            background-size: 40px 40px;
        }